<% include head %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Campground Page</h1>
            <h3 style="margin: 25px auto;">An interactive campground page</h3>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new"
                    >Add new Campground</a
                >
            </p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% Campgrounds.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= camp.image %>" />
                <div class="caption">
                    <h4><%= camp.name %></h4>
                    <a
                        class="btn btn-primary"
                        href="/campgrounds/<%= camp._id %>"
                        >Info</a
                    >
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include foot %>
